name: build-branch

on:
  pull_request:
    branches: ["master"]

jobs:
  subtrace-binary:
    name: Build ${{ matrix.os }}/${{ matrix.arch }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        os: [linux, darwin]
        arch: [amd64, arm64]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v4
      with:
        name: devtools.js.gz
        path: ./devtools/bundle
        github-token: ${{ secrets.SUBTRACE_ARTIFACT_DOWNLAOD_TOKEN }}
        run-id: 16843284516
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: go-${{ matrix.os }}-${{ matrix.arch }}-${{ hashFiles('**/go.sum', '**/go.mod') }}

    - name: Run go mod tidy check
      run: |
        set -e
        go mod tidy -diff
    - name: Build subtrace binary
      run: |
        set -e

        version=$(printf "b%03d" "$(git log --oneline | wc -l)")
        echo "version=${version}"

        echo "GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }}"
        GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} time make subtrace
        mv subtrace subtrace-${{ matrix.os }}-${{ matrix.arch }}

        echo "metadata:"
        file subtrace-*
        sha256sum subtrace-*
