name: build-branch

on:
  pull_request:
    branches: ["master"]

jobs:
  subtrace-binary:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v4
      with:
        name: devtools.js.gz
        path: ./devtools/bundle
        github-token: ${{ secrets.SUBTRACE_ARTIFACT_DOWNLAOD_TOKEN }}
        run-id: 12883709267
    - name: Run go mod tidy check
      run: |
        set -e
        go mod tidy -diff
    - name: Build subtrace binary
      run: |
        set -e

        version=$(printf "b%03d" "$(git log --oneline | wc -l)")
        echo "version=${version}"

        for os in linux darwin; do
          for arch in amd64 arm64; do
            echo "GOOS=${os} GOARCH=${arch}"
            GOOS=${os} GOARCH=${arch} time make subtrace
            mv subtrace subtrace-${os}-${arch}
          done
        done

        echo "metadata:"
        file subtrace-*
        sha256sum subtrace-*

        cd ./etc/js
        make clean download build
        sha256sum ./subtrace/subtrace-*
        npm version $(printf "0.0.%03d" "$(git log --oneline | wc -l)")
        npm set //registry.npmjs.org/:_authToken=${{ secrets.SUBTRACE_NPM_PUBLISH_TOKEN }}
        npm publish --dry-run
        cd ../..
